body{
    font-family: 'Share Tech Mono', monospace;
}

.img-style{
    background-image: url(http://4.bp.blogspot.com/_xYlAKlGufEs/TVAzidJOTpI/AAAAAAAAAAY/mCF66xtmQEw/s1600/binario.jpg);
}

.button-text-ok{
    padding: 10px;
}

.padding-bottom{
    padding-bottom: 15px;
}

.margin-top{
    margin-top: 10px;
}

.table-margin-top{
    margin-top: 75px;
}

.height-page{
    align-items: stretch;
}

#problems{
    overflow-y: scroll;
}

#operations{
    overflow-y: scroll;
}

#helpers{
    overflow-y: scroll;
}